.jumbotron.bg-primary
    %h1 Pilligrim28
    %p Это главная страничка которая у меня получилась
    %button.btn.btn-secondary{:type => "button"} Secondary
    

= link_to root_path, class: 'btn btn-primary' do
    .fa.fa-home
    Домой