.card
  .card-header
    = link_to post.title, post
  /= post.title/
  .card-body
    = post.conten
  .card-footer
    = post.created_at
    /= link_to 'Показать', post/
    //= link_to 'Редактировать', edit_post_path(post)
    .btn-group
      = link_to edit_post_path(post), class: 'btn btn-sm btn-warning' do 
        .fa.fa-edit
        Редактировать
      = link_to  post, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-sm btn-danger' do 
        .fa.fa-trush
        Удалить
  %p
